body{
    margin: 0px;
    font-family: 'Satisfy', cursive;
}

header{
    background-color: rgba(68,101,232,255);
    color:white;
    /* margin: 0px; */
    padding: 20px 10px;
    font-size: 55px;
    text-align: center;
}